@import "../../breakpoints/breakpoints.scss";

.intro {
    background-color: #191414;
    color: white;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;


    .left {
        flex: 0.5;
        @include media("<=phone") {
            flex: none;
            left: 30%;
            top: 30%;
            position: absolute;
        }

        @include media(">phone", "<=longphone") {
            flex: none;
            left: 20%;
            top: 20%;
            position: absolute;
        }

        @include media(">longphone", "<=tablet") {
            flex: none;
            position: absolute;
        }

        @include media(">tablet", "<=halfscreen") {
            flex: none;
            position: absolute;
        }

        @include media(">halfscreen") {
            flex:none;
            position: absolute;
        }

        .imgContainer {
            width: 300px;
            height: 300px;
            background-color: crimson;
            border-radius: 50%;
            align-items: flex-end;
            justify-content: center;
            float: right;
            overflow: hidden;
            outline: solid;
            outline-width: 5px;
            outline-color: #1db954;
            object-fit: cover;

            @include media("<=phone") {
                width: 145px;
                height: 145px;
                float: none;
            }
            @include media(">phone", "<=longphone") {
                width: 250px;
                height: 250px;
                float: none;
            }

            @include media(">longphone", "<=tablet") {
                float: none;
                text-align: center;
                position: relative;
                margin-top: 150px;
            }

            @include media(">tablet", "<=halfscreen") {
                float: none;
                text-align: center;
                position: relative;
                margin-top: 150px;
            }

            @include media(">halfscreen") {
                float: none;
                text-align: center;
                position: relative;
                margin-top: 250px;
            }

            img {
                height: 100%;
            }
        }
    }
    .right {
        flex: 0.5;
        @include media("<=phone") {
            flex:none;
        }

        @include media(">phone", "<=longphone") {
            flex: none;
        }

        @include media(">longphone", "<=tablet") {
            flex: none;
        }

        @include media(">tablet", "<=halfscreen") {
            flex: none;
        }
        @include media(">halfscreen") {
            flex:none;
        }

        .wrapper {
            width: 100%;
            height: 100%;

            @include media("<=phone") {
                position: absolute;
                margin-top: 395px;
                height: 100px;
                padding-left: 0px;
                text-align: center;
                position: relative;

                h1 {
                    font-size: 18px;
                }
                h2 {
                    font-size: 12px;
                }
            }

            @include media(">phone", "<=longphone") {
                position: absolute;
                margin-top: 500px;
                height: 100px;
                padding-left: 0px;
                text-align: center;
                position: relative;

                h1 {
                    font-size: 24px;
                }
                h2 {
                    font-size: 15px;
                }
            }

            @include media(">longphone", "<=tablet") {
                position: absolute;
                margin-top: 500px;
                height: 100px;
                text-align: center;
                padding-left: 0px;
                position: relative;
                
                h1 {
                    font-size: 24px;
                }
                h2 {
                    font-size: 15px;
                }
            }

            @include media(">tablet", "<=halfscreen") {
                position: absolute;
                margin-top: 500px;
                height: 100px;
                text-align: center;
                padding-left: 0px;
                position: relative;
                
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 25px;
                    font-weight: 300;
                }
            }

            @include media(">halfscreen") {
                position: absolute;
                margin-top: 650px;
                height: 100px;
                text-align: center;
                padding-left: 0px;
                position: relative;
                
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 25px;
                    font-weight: 300;
                }
            }
        }
    }
    .bottom {
        position: absolute;
        width: 100%;
        bottom: 10px;
        text-align: center;

        img {
            display: inline-block;
            width: 30px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
            animation: arrowBlink 1.5s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}
